*{
    margin:0;
    padding:0;
}

@font-face {
    font-family: "hakuu";
    src: url("../font/new%20font/hakuu.eot"); /* IE9 */
    src: url("../font/new%20font/hakuu.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/new%20font/hakuu.woff") format("woff"), /* chrome, firefox */
    url("../font/new%20font/hakuu.woff2") format("woff2"),
    url("../font/new%20font/hakuu.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../font/new%20font/hakuu.svg") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

.zise{
    color:mediumpurple!important;
}

img{
    width:100%;
}


#zhubeijing1{
    background: url('../imgs/zhubeijing1.jpg') no-repeat 0 0;
    background-size:cover;
    padding-bottom: 75px;
}

#zhubeijing1 .jiyu-box{
    width:210px;
    height:70px;
    /*border:1px solid red;*/
    border-radius: 5px;
    color:white;
    background: rgba(0,0,0,0.4);
}

#zhubeijing1 .jiyu-box h1{
    font-size:50px;
    text-align: center;
    line-height: 70px;
    letter-spacing: 20px;
    font-family: 'hakuu';
}

#zhubeijing1 .zhezhao{
    height:290px;
    background: rgba(0,0,0,0.4);
}

#zhubeijing1 .head{
    width:120%;
}

#zhubeijing1 .neirong h2,p{
    color:white;
}

#zhubeijing1 .tianchong{
    height:190px;
}

#gerenjieshao .title{
    height:80px;
    border-bottom:1px solid #e5d8db;
}

#gerenjieshao .title h1{
    line-height:80px;
    letter-spacing: 2px;
}

#gerenjieshao .title .xiahuaxian{
    border-bottom: 2px solid mediumpurple;
}


#gerenjieshao .rongqi{
    padding-bottom:2%;
    background-color: white;
    margin-bottom: 20%;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    perspective: 400px;
    cursor: pointer;
}

#gerenjieshao .rongqi>p{
    font-family: 'hakuu';
}

#gerenjieshao .rongqi .text{
    position: absolute;
    left:0;
    top:0;
    background: rgba(0,0,0,0.5);
    width:100%;
    height:100%;
    transform: rotateX(90deg);
    transition: all 1s;
}

/*#gerenjieshao .rongqi:hover .text{*/
    /*transform: rotateX(0deg);*/
/*}*/

#gerenjieshao .rongqi .text p{
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 25px;
}


#jineng .title{
    height:80px;
    border-bottom:1px solid #e5d8db;
}

#jineng .title h1{
    line-height:80px;
    letter-spacing: 2px;
}

#jineng .title .xiahuaxian{
    border-bottom: 2px solid mediumpurple;
}

#jineng .zhuti p{
    color:#444;
    font-size:25px;
}



#jingse .title{
    height:80px;
    border-bottom:1px solid #e5d8db;
}

#jingse .title h1{
    font-weight: 600;
    line-height:80px;
    letter-spacing: 2px;
}

#jingse .title .xiahuaxian{
    border-bottom: 2px solid mediumpurple;
}

#jingse .zhuti{
    position: relative;
}


#jingse .zhuti .box{
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 8px;
}

#jingse .zhuti .pic{
    padding:3%;
    border:1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 0 5px #ccc;
}

#jingse .zhuti .pic img{
    border-radius: 6px;
}

