*{
    margin:0;
    padding:0;
}

@font-face {
    font-family:'hakuu';
    src: url('../font/hakuu.ttf') format('truetype');
}

html,body{
    height:100%;
}

/*预加载页面*/
#loading{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    background: #EEEEEE;
    text-align: center;
    font-size: 30px;
}

#loading .progress1{
    margin-top: 300px;
    color:#666;
}


/*预加载页面结束*/

.zise{
    color:mediumpurple!important;
}


#zhubeijing1{
    background: url('../imgs/zhubeijing1.jpg') no-repeat 0 0;
    background-size:cover;
}

#zhubeijing1 .jiyu-box{
    width:210px;
    height:70px;
    /*border:1px solid red;*/
    border-radius: 5px;
    color:white;
    background: rgba(0,0,0,0.4);
}

#zhubeijing1 .jiyu-box h1{
    font-size:50px;
    text-align: center;
    line-height: 70px;
    letter-spacing: 20px;
    font-family: 'hakuu';
}

#zhubeijing1 .zhezhao{
    height:290px;
    background: rgba(0,0,0,0.4);
}

#zhubeijing1 .head{
    width:120%;
}

#zhubeijing1 .neirong h2,p{
    color:white;
}

#zhubeijing1 .tianchong{
    height:190px;
}

#xuyuanqiang .title{
    height:80px;
    border-bottom:1px solid #e5d8db;
}

#xuyuanqiang .title h1{
    line-height:80px;
    letter-spacing: 2px;
}

#xuyuanqiang .title .xiahuaxian{
    border-bottom: 2px solid mediumpurple;
}

#xuyuanqiang .zhuti-box{
    background-color:black;
    border-radius: 5px;
}

#xuyuanqiang .zhuti{
    width:860px;
    perspective:800px;
    /*perspective为景深*/
}

#xuyuanqiang .zhuti img{
    width:9%;
    height:17%;
    margin-right: 5px;
    margin-bottom: 5px;
}

#xuyuanqiang .xuyuan{
    width:120%;
    font-family:'hakuu';
    font-size: 30px;
    letter-spacing: 6px;
}


#meishilunbo .title{
    height:80px;
    border-bottom:1px solid #e5d8db;
}

#meishilunbo .title h1{
    line-height:80px;
    letter-spacing: 2px;
}

#meishilunbo .title .xiahuaxian{
    border-bottom: 2px solid mediumpurple;
}




#meishilunbo .poster-main{
    position: relative;
}

#meishilunbo .prev-btn{
    color:rgba(255,255,255,0.5);
    text-decoration: none;
    margin-left: -40px;
}

#meishilunbo .prev-btn:hover{
    color:rgba(255,255,255,1);
}

#meishilunbo .next-btn{
    color:rgba(255,255,255,0.5);
    text-decoration: none;
}

#meishilunbo .next-btn:hover{
    color:rgba(255,255,255,1);
}

#meishilunbo .poster-item{
    border: 15px solid #ffffc6;
    padding: 0 0;
}